/* font link import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,400;1,800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* shared css style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.82rem;
    font-weight: 700;
    line-height: normal;
}

.text-light {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    color: white;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    margin-bottom: 50px;
    margin-top: 30px;

}

main {
    max-width: 80%;
    margin: 0 auto;
}

/* header css style */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: #424242;
}

.banner {
    text-align: center;
    margin-top: 100px;
}

.banner-content {
    width: 800px;
    margin: 0 auto;
}

.banner-content .banner-title {
    font-size: 4rem;
}

.banner-image img {
    width: 60%;
}

/* items section css */
.items {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 55px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.items-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.items-img img {
    width: 300px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;

}

.items-content h3 {
    font-size: 2.8rem;
}

.out-of {
    font-weight: 700;
}

.orange-color {
    color: #FF900E;

}

/* features section css */
.features {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.features .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-top: 20px;
}


.feature-image img {
    width: 50%;
    padding: 50px 50px 0 50px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 8px;
}

.experience {
    text-align: center;
    width: 258px;
    padding: 40px;
    position: relative;
    bottom: 100px;
    left: 300px;
}

.experience h4 {
    font-size: 2rem;
}

.feature-section-title {
    border-left: 5px solid #FF900E;
    padding: 10px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info .info-card {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 40px;
    margin-top: 100px;
}

.info-card h3 {
    color: #424242;
    font-size: 2.9rem;
    font-weight: 600;
}
 /* sponsor section css */
 .sponsor{
text-align: center;
margin-top: 130px;
 }

 .sponsor-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
 }

 footer{
    background-color: #FFF4E7;
    padding: 50px;
    text-align: center;
    margin-top: 100px;
 }


/* responsive style for mobile device */
@media screen and (max-width: 576px) {

    /* shared responsive css  */
    nav,.banner {
        flex-direction: column;
        margin: 0px;

    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 50px;
        padding-top: 50px;
    }

    .banner-content {
        width: 100%;
        margin: 0 auto;
    }

    .items-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .items {
        flex-direction: column;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .experience {
        position: static;
    }
    .info,  .sponsor-logo{flex-direction: column; align-items: center;}
    .sponsor-logo img{
        width: 80%;
    }
   
   
}

/* responsive for i pad and medium devise   */
@media screen and (min-width: 576px) and (max-width:992px) {
    nav {
        flex-direction: column;
        margin: 0px;
        padding-top: 50px;

    }

    .items,.info,.sponsor-logo {
        flex-direction: column;
        align-items: center;
    }

  .sponsor-logo img{
        width: 80%;
    }
    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    /* .experience{
        position: static;
    } */
}